<div id="wrapper">
  <div class="displayPanel">
    <table class="table table-bordered">
      <tr>
        <td colspan="2" rowspan="2" class="two"></td>
        <td class="one"></td>
        <td colspan="5" rowspan="5" class="five"></td>
      </tr>
      <tr>
        <td class="one"></td>
      </tr>
      <tr>
        <td colspan="3" rowspan="3" class="three"></td>
      </tr>
    </table>
  </div>
  <div class="actionPanel">
    <div class="input-fields">
      <input class="form-control" id="hourInput"   type="number" [(ngModel)]="hourInput" min="1" max="12" step="1"
        placeholder="hour" />
      <input class="form-control" id="minuteInput"  type="number" [(ngModel)]="minuteInput" min="0" max="55" step="5"
        placeholder="minute"  />
      <!-- <input id="buttonDisplay" class="btn btn-info" type="button" Value="Display" (click)="generateTime()" /> -->
    </div>
    <button class="btn btn-primary" id="buttonDisplay" type="button" (click)="generateTime()">
      <i class="fa-regular fa-clock"></i>
    </button>
  </div>
  <div class="buttons">
    <button class="btn btn-dark" (click)="back()"><i class="fa-solid fa-chevron-left"></i></button>
    <button class="btn btn-dark" (click)="next()"><i class="fa-solid fa-chevron-right"></i></button>
  </div>
</div>

<h3 class="devby" >Developed By : Faizan ( Senior Angular Frontend Developer)</h3>